html, body {
	color: #000;
	margin: 0;
	padding: 0;

	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}

.wrapper {
	width: 100%;
	max-width: 1400px;
	padding: 20px;
	margin: 0 auto;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header, .flexi {
	 display: -webkit-box;   
	 display: -moz-box;        
	 display: -ms-flexbox;      
	 display: -webkit-flex;     
	 display: flex;

	 -webkit-align-content: space-between; 
	 -webkit-align-content: space-between; 
	 align-content: space-between;

	 -webkit-flex-align: center;
	  -ms-flex-align: center;
	  -webkit-align-items: center;
	  align-items: center;
}

.flexi-row {
	width: 32%;
	font-size: 18px;
}

.flexi-row input[type="text"], .flexi-row input[type="number"]{
	width: 90%;
	margin-bottom: 10px;
	font-size: 20px;
}

.flexi-row span, .flexi-row input {
	display: inline-block;
}

section {
	margin-top: 50px;
}

.inputs {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-top: 40px;
	padding-bottom: 40px;
	-webkit-transition:all linear 0.7s;
  	-moz-transition:all linear 0.7s;
  	-o-transition:all linear 0.7s;
  	transition:all linear 0.7s;
}

.text {
	font-size: 24px;
}

.smiley {
	width: 25%;
}

.logo {
	width: 70%;
	text-align: center;
}

/*********************************************
* Animation
**********************************************/

.inputs.ng-hide-add, .text.ng-hide-add {
  -webkit-transition:all linear 0.7s;
  -moz-transition:all linear 0.7s;
  -o-transition:all linear 0.7s;
  transition:all linear 0.7s;
}

.text.ng-hide-remove {
  -webkit-transition:all linear 0.7s 0.7s;
  -moz-transition:all linear 0.7s 0.7s;
  -o-transition:all linear 0.7s 0.7s;
  transition:all linear 0.7s 0.7s;
}

.inputs.ng-hide, .inputs.ng-hide-remove {
  height: 0;
  line-height: 0;
  opacity: 0;
}

.text.ng-hide {
  opacity: 0;
}
